<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.realme.mall.product.dao.ProductSkuAttributeMapper">
  <resultMap id="BaseResultMap" type="net.realme.mall.product.model.ProductSkuAttribute">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="sku_id" jdbcType="INTEGER" property="skuId" />
    <result column="attr_id" jdbcType="VARCHAR" property="attrId" />
    <result column="attr_val_id" jdbcType="VARCHAR" property="attrValId" />
    <result column="created_time" jdbcType="BIGINT" property="createdTime" />
    <result column="updated_time" jdbcType="BIGINT" property="updatedTime" />
    <result column="shelf_status" jdbcType="TINYINT" property="shelfStatus" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, product_id, sku_id, attr_id, attr_val_id, created_time, updated_time, shelf_status, 
    `status`
  </sql>

  <insert id="batchInsert">
    insert into `product_sku_attribute` ( product_id, sku_id, attr_id, attr_val_id, created_time)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.productId,jdbcType=BIGINT},#{item.skuId,jdbcType=BIGINT}, #{item.attrId,jdbcType=INTEGER}, #{item.attrValId,jdbcType=VARCHAR},#{item.createdTime,jdbcType=BIGINT})
    </foreach>
  </insert>
</mapper>