<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.realme.mall.basics.dao.SiteMapper">
  <resultMap id="SiteMap" type="net.realme.mall.basics.model.Site">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="site_code" jdbcType="VARCHAR" property="siteCode" />
    <result column="currency_abbr" jdbcType="VARCHAR" property="currencyAbbr" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="country_code" jdbcType="VARCHAR" property="countryCode" />
    <result column="language" jdbcType="VARCHAR" property="language" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="region" jdbcType="VARCHAR" property="region" />
    <result column="created_at" jdbcType="BIGINT" property="createdAt" />
    <result column="updated_at" jdbcType="BIGINT" property="updatedAt" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, site_code, currency_abbr, country, country_code, `language`, icon, region, created_at, updated_at, status
  </sql>
</mapper>