<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.realme.mall.oms.cms.dao.SkuPageReleaseMapper">
  <resultMap id="BaseResultMap" type="net.realme.mall.oms.cms.model.SkuPageRelease">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sku_id" jdbcType="INTEGER" property="skuId" />
    <result column="page_id" jdbcType="INTEGER" property="pageId" />
    <result column="site_code" jdbcType="VARCHAR" property="siteCode" />
    <result column="version" jdbcType="BIGINT" property="version" />
    <result column="scheduled_at" jdbcType="BIGINT" property="scheduledAt" />
    <result column="released_at" jdbcType="BIGINT" property="releasedAt" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="operator_id" jdbcType="INTEGER" property="operatorId" />
    <result column="operator_name" jdbcType="VARCHAR" property="operatorName" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="net.realme.mall.oms.cms.model.SkuPageRelease">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="rendered_html" jdbcType="LONGVARCHAR" property="renderedHtml" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, sku_id, page_id, site_code, version, scheduled_at, released_at, `status`, operator_id, 
    operator_name
  </sql>
  <sql id="Blob_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    rendered_html
  </sql>
</mapper>